body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
  }
  
  .content {
    height: 100vh;
    max-width: 419px; /* Set the maximum width */
    margin: 0 auto; /* Center the content */
    position: relative;
    z-index: -1; /* Make sure content is above the shadows */
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.5), -10px 0 15px -5px rgba(0, 0, 0, 0.5);
  }
  
  .image-placeholder {
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 419px; /* Set the max-width for the image */
  }
  
  .image-placeholder2 {
    z-index: -1;
    width: 100%;
    height: auto;
    max-width: 419px; /* Set the max-width for the image */
  }

  .web-section {
    margin-top: 20px; /* Add space below the image */
    /* Add additional styling for your web section */
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 419px; /* Set the width to match the image width */
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Center using transform */
  }
  
  .navbar a {
    z-index: 5;
    color: #fff;
    text-decoration: none;
  }
  p{
    line-height: 2;
    font-family: 'Open Sans', sans-serif; 
  }
  .names{
    font-size: 25px;
    font-weight: 800;
  }